body,
p,
h1,
h2,
h3,
ul,
a {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

body {
	font-family: "Bai Jamjuree", sans-serif;
	color: var(--text-light);
	line-height: 1.5;
	font-size: var(--fs-14);
	background: var(--bg-body);
}

h1,
h2,
h3 {
	color: var(--text-dark);
	font-weight: 600;
	line-height: 1.25;
}

h1 {
	font-size: var(--fs-30);
}

h2 {
	padding-inline: var(--sp-16);
	font-size: var(--fs-24);
}

h3 {
	font-size: var(--fs-20);
}

p {
	max-width: 60ch;
}

.buttons {
	display: grid;
	gap: var(--sp-24);
}

.btn {
	padding: var(--sp-16) var(--sp-64);
	border-radius: 100px;
	color: var(--text-white);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	transition:
		background-color 0.3s ease,
		box-shadow 0.3s ease;
}

.clr-primary {
	background: var(--primary-main);
	box-shadow: 0 3px var(--primary-dark);
}

.clr-primary:hover {
	background: var(--primary-light);
	box-shadow: 0 3px var(--primary-main);
}

.clr-secondary {
	background: var(--secondary-main);
	box-shadow: 0 3px var(--secondary-dark);
}

.clr-secondary:hover {
	background: var(--secondary-light);
	box-shadow: 0 3px var(--secondary-main);
}

.container {
	display: grid;
	text-align: center;
	justify-items: center;
	gap: var(--sp-24);
	padding-inline: var(--sp-24);
	padding-block: var(--sp-48);
	max-width: 80rem;
	margin-inline: auto;
}

.highlight-text {
	display: grid;
	gap: var(--sp-24);
	margin-bottom: var(--sp-16);
	justify-items: center;
}

@media (min-width: 64em) {
	.buttons {
		grid-template-columns: 1fr 1fr;
	}

	.btn {
		padding: var(--sp-12) var(--sp-24);
	}
}

@media (prefers-reduced-motion: reduce) {
	.btn {
		transition: none;
	}
}
